Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 132
AccessModifierOffset: -2  # Changed to match new indent width
AllowShortFunctionsOnASingleLine: SFS_None
BreakBeforeBraces: Allman
NamespaceIndentation: All
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp1
AllowShortLambdasOnASingleLine: SLS_None
BraceWrappingAfterControlStatementStyle: BWACS_Never
AfterNamespace: false
AfterStruct: false
BeforeCatch: false
BeforeLambdaBody: false
